.navbar-brand {
  margin-left: 10px;
}

.hero-body {
  background-image: url('../assets/Webpage background.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  justify-content: center;
  .display {
    display: flex;
    justify-content: center;
    padding-top: 80px;
  .homebooks {
    max-height: 200px;
    min-height: 200px;
    max-width: 150px;
    box-shadow: 4px 4px 4px 4px #888888;
    margin: 20px;
  }
}
}
.hero {
  background-image: url('../assets/Webpage background 02.png');
.result-bar {
  height: 100px;
  width: 100vw;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .search-box {
    border: black 1px solid;
  }
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    width: 200px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px 4px #888888;
    .card-header{
      background-color: black;
      .card-header-title{
        color: white;
      }
    }
    h5 {
      margin: 0 16px 12px 16px;
    }
  }
  .card-content {
      background-color: black;
      .is-6 {
        color: white;
      }
  }
}
}

.bookShow{
  display: flex;
  flex-direction: column;
  height: 100vh;
  .bookContent{
    height: 100%;
    display: flex;
    align-items: center;
    .bookInfo{
      background-color: white;
      box-shadow: 4px 4px 4px 4px #888888;
      padding: 20px;
      .all{
        display: flex;
        height: 100%;
        align-items: center;
        img {
          min-width: 250px;
          max-height: 400px;
        }
        .text{
          display: flex;
          flex-direction: column;
          padding: 20px;
          h1 {
            font-weight: bolder;
            font-size: larger;
            margin: 10px 0;
          }
          h2 {
            font-weight: bold;
            font-size: large;
            margin: 5px 0;
          }
          p {
            margin: 5px 0;
          }
          h3 {
            font-weight: bold;
            font-size: medium;
            margin: 5px 0;
          }
        }
      }

    }
  }
}

.pages {
  display: flex;
  justify-content: center;
  margin: 10px;
  a {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px #888888;
    color: black;
    margin: 10px;
  }
}

.navbar-brand {
  img {
    margin-top: 5px;
    width: 90px;
    height: 55px;
  }
}


.hero-body2 {
  background-image: url('../assets/Webpage background 02.png');
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(69, 77, 78);
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(69, 77, 78);
  background: rgb(69, 77, 78);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.wrap{
  width: 200px;
  display: flex;
  justify-content: center;
}

.searchbar {
  display: flex;
  justify-content: center;
  .search {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

